<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @membership.type %>
</p>

<p>
  <strong>Fee amount:</strong>
  <%= @membership.fee_amount %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
