<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->

<% content_for :header do -%>
  <%= stylesheet_link_tag 'family_tree', media: 'all', 'data-turbolinks-track' => true %>
<% end -%>

<!-- Dynamic Family tree end -->

<div class="tree">
	<ul>
	<% unless @family_members.blank? %>
		<% @j = 0 %>
		<% @i = 0 %>
		<% @ff = 0 %>
		<% @previous_member = @family_members.first %>
		<% for c in 0 ... @family_members.size %>
			<% family_member = @family_members[c] %>
			<% cn = c +1 %>
			<% family_next_member = @family_members[cn] %>
			<% if @i > 0 %>
				<% @i = @i - 1 %>
				<% @j = @j + 1 %>
				<% next %>
			<% end %>
			<% if @previous_member.children.include?(family_next_member) || @previous_member.children.include?(family_member) || !family_member.father.nil? || !family_member.mother.nil? %>
				<ul>
			<% end %>
				<% @previous_member = family_member %>
				<li>
					<a class=<%= family_member.is_male? ? 'rectangle' : 'circle' %>><%= family_member.name %></a>
					<% if family_member.current_spouse %>
						<% @i = @i + 1 %>
						<li>
							<a href="#" class=<%= family_member.current_spouse.is_male? ? 'rectangle' : 'circle' %>><%= family_member.current_spouse.name %></a>
						<%unless family_member.current_spouse.children %>
							</li>
						<% end %>
					<% end %>

					<% if family_member.siblings %>
						<% family_member.siblings.each do |fsibling| %>
							<% @i = @i + 1 %>
							<li>
								<a href="#" class=<%= fsibling.is_male? ? 'rectangle' : 'circle' %>><%= fsibling.name %></a>
							</li>
						<% end %>
					<% end %>
		<% end %>

		<% @family_members.each do |family_member| %>
				<%if family_member.current_spouse %>
					<%if family_member.current_spouse.father %>
						</li>
					<% end %>
				<% end %>
				<% if @j != 0 %>
					<% @j = @j - 1 %>
					<% next	%>				
				<% end %>
				</li>
			</ul>
		<% end %>
	<% else %>
		<p> Did not add Family members yet.</p>
	<% end %>
</div>
<br/>
<% if current_user.role == "patient" %>
	<div class="col-md-12">
		<%=link_to "Finish", root_path, :class=>"pull-right btn btn-default" %>
	</div>
<% end %>
