<br/><br/>

<table class="table table-bordered table-hover table-responsive">
  <tr>
    <th> Email Address </th>
    <th></th>
    <th></th>
    <th>Reports</th>
  </tr>
  <% @patients.each do |patient| %>
    <tr>
      <td>
        <%= patient.email %>
      </td>
      <td>
        <%= link_to 'Edit', edit_patient_path(patient) %>
      </td>
      <td>
        <%= link_to 'Destroy',patient_destroy_path(patient.id), data: { confirm: 'Are you sure?' } %>
      </td>
      <td>
        <%= link_to patient.rapidfire_answer_groups.first.question_group.name, patient_survey_answers_path(patient.rapidfire_answer_groups.first), :class=>"btn btn-success" %>
      </td>
    </tr>
  <% end %>
</table>

<br/>
<%= link_to 'New Patient', new_patient_path %>