<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @payment.token %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @payment.payer_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
