<%= form_for(@user_relation, :html => {:class => 'col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 '}) do |f| %>
  <div class="well">
    <% if @user_relation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_relation.errors.count, "error") %> prohibited this user_relation from being saved:</h2>

        <ul>
        <% @user_relation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name ,:class=>"col-md-2 col-sm-3 col-xs-12"%>
        <%= f.text_field :name ,:class=>"form-control",:placeholder=>"Name"%>
    </div>
    <div class="actions form-group">     
        <%= f.submit "Update Family Member" ,:class=>" btn btn-default"%> 
    </div>
  </div>
<% end %>
