<h1>Family Members</h1>

<table class="table table-responsive table-bordered well">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_relations.each do |user_relation| %>
      <tr>
        <td><%= user_relation.name %></td>
        <td><%= user_relation.sex == 'M' ? "Male" : "Female" %></td>
        <td><%= link_to 'Edit', edit_user_relation_path(user_relation) %></td>
        <td><%= link_to 'Destroy', user_relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Family member', "#new",:data => {:toggle=>"modal"}%>

<% if current_user.role == "patient" %>

  <%= link_to 'Save and Next : Family tree', patient_family_trees_path, :class=>"pull-right btn btn-default" %>

<% end %>

<div class="modal fade pop-up-1" id="new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header" style="margin-bottom:0px;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <label ><h4>Add New Family Member</h4></label>
        </div>
        <div class="modal-body">



            <%= form_for(@user_relation) do |f| %>
              <% if @user_relation.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user_relation.errors.count, "error") %> prohibited this user_relation from being saved:</h2>

                  <ul>
                  <% @user_relation.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <label class="col-md-8 col-sm-8 col-xs-12">To Which family member do you want to add a relative?</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <% if @family_members.blank? %>
                    <%= select_tag "to_family_member", options_for_select([ "Self" ]) ,:class=>"form-control"%>
                  <% else %>
                    <%= select_tag "to_family_member", options_from_collection_for_select(@family_members, "id", "name") ,:class=>"form-control"%>
                  <% end %>
                </div>
              </div>

              <% unless @family_members.blank? %>
                <div class="form-group">
                  <label class="col-md-8 col-sm-8 col-xs-12">
                    What relative do you want to add to yourself?</label>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <%= select_tag "what_relative", options_for_select(["Father", "Mother", "Paternal Grand Father", "Paternal Grand Mother", "Maternal Grand Father", "Maternal Grand Mother", "Child", "Spouse", "Sibling" ]) ,:class=>"form-control"%>
                  </div>
                </div>
              <% end %>

              <div class="form-group">
                <label class="col-md-8 col-sm-8 col-xs-12">name</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <%= f.text_field :name ,:class=>"form-control",:placeholder=>"Name"%>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-8 col-sm-8 col-xs-12">
                Sex</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <%= f.select(:sex,options_for_select([["Male", "M"], ["Female", "F"]]), {},{ :class => 'form-control' } )%>
                </div>
                <%#= f.select(:sex,options_for_select(["Male","Female"]))  %>
              </div>
              <%= f.hidden_field :user_id, :value=>current_user.id %>
              <br><br>
              <div class="form-group text-right  col-md-12">
              
                 <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                 <%= f.submit "Create Family Member" ,:class=>"btn btn-success"%>
                
              </div>
            <% end %>

            <style type="text/css">
              form#new_user_relation {
                color: rgb(78, 103, 182);
              }
            </style>

            <% unless @family_members.blank? %>
              <script type="text/javascript">
                $('#to_family_member').change(function(){
                  var family_member = $('#to_family_member option:selected').text();
                  if (family_member == "<%=@family_members.first.name %>") {
                    var select = $('#what_relative');
                    select.empty().append('<option>Father</option><option>Mother</option><option>Paternal Grand Father</option><option>Paternal Grand Mother</option><option>Maternal Grand Father</option><option>Maternal Grand Mother</option><option>Child</option><option>Spouse</option><option>Sibling</option>');
                  }else{
                    var select = $('#what_relative');
                    select.empty().append('<option>Child</option><option>Spouse</option><option>Sibling</option>');
                  };
                });
              </script>
            <% end %>





        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal mixer image -->
